[Global]
LogLevel = INFO

NumberOfDevices = 1

[Device_1]
DeviceInstance = 100
CustomName = Main Switch Panel
NumberOfSwitches = 2

[Output_1_1]
CustomName = porch test
Group = Lighting
MqttStateTopic = dingtian2/relay18065/out/r1
MqttCommandTopic = dingtian2/relay18065/in/r1

[Output_1_2]
CustomName = living rm test
Group = Lightling
MqttStateTopic = dingtian2/relay18065/out/r2
MqttCommandTopic = dingtian2/relay18065/in/r2

[MQTT]
BrokerAddress = 192.168.8.135
Port = 1883
Username =derrick
Password =donna41213
